{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "plugins": [
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "transform-remove-console",
            {
                "exclude": ["error", "warn"]
            }
        ],
        "@babel/proposal-object-rest-spread"
    ]
}
